@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

html, body{
    margin: 0 auto;
    height: auto;
}

html{
    background-color: #28293e;
}

body{
    width: 70vw;
    font-family: 'GMarketSans';
    box-shadow: 0 0 6vw 5vw rgba(17, 17, 32, 0.55);
}

a{
    text-decoration-line: none;
}

/* header 설정 */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3vw;
}

.header a{
    font-size: 1vw;
    color: white;
    text-align: center;
    display: block;
    padding: 1vw;
}

.header a:hover{
    /* box-shadow: inset 0 0 0.7vw 0.1vw rgba(104, 97, 165, 0.7); */
    box-shadow: inset 0 0 0.3vw 0.1vw rgba(255, 255, 255, 0.4);
    /* inset -1vw 0 1vw 0.5vw rgba(255, 255, 255, 0.243); */
}

/* 본문 설정 */

/* 개인 설명 영역 */
.wrap{
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 1vw auto; */
    padding: 5vw 2vw;
    gap: 1vw;
}

.profile-area-personal{
    display:flex;
    flex-wrap: wrap;
    gap: 0 2vw;
    /* margin: 0 auto; */
}

.profile-area-text{
    display: flex;
    flex-direction: column;
    align-self: end;
    /* flex-grow: 2; */
}

.profile-area-img{
    width: 25vw;
    height: 25vw;
    border-radius: 0% 0% 100% 100%;
    overflow: hidden;
    align-self: start;
    /* flex-grow: 2; */
}

.profile-area-img img{
    width: 100%;
    height: auto;
    overflow: cover;
    transform: translate(0vw, -15vw);
}

.profile-area-skill{
    align-self: start;
    flex-grow: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1vw;
    padding: 1.5vw;
    margin: auto;
    justify-content: center;
    border-radius: 2vw;
}

.font-icon{
    font-size: 1vw;
    font-weight: bolder;

    padding: 0.5vw 1vw;
    margin: 0.5vw 0;
    text-align: center;

    border: 0.3vw solid white;
    border-radius: 50vw;
    min-width: 3.5vw;
    height: auto;

    box-shadow: 0.2vw 0.1vw 0.8vw 0.1vw rgba(255, 255, 255, 0.3);
}

.font-icon:hover{
    box-shadow: 0.5vw 0.3vw 1vw 0.1vw rgba(17, 17, 32, 0.55);
    transform: translate(-0.5vw, -0.2vw);
}

/* Project 영역 */
.project-area{
    display: flex;
    columns: 3;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap: 3vw;
    padding: 5vw 2vw;
}

.project-area-list{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: start;

    width: 20vw;
}

.project-area-img{
    max-width: 19vw;
    max-height: 21.5vw;
    min-width: 16vw;
    min-height: 20.5vw;
    border: 0.5vw solid white;
}

/* 색상 모음 */
.orange{
    color: #ef6d58;
}

.navy{
    color: #28293e;
}

.white{
    color: white;
}

.green{
    color: #70B540;
}

.yellow{
    color: #F7DF1E;
}

.bg-orange{
    background-color: #ef6d58;
}

.bg-navy{
    background-color: #28293e;
}

.bg-white{
    background-color: white;
}

.bg-green{
    background-color: #70B540;
}

.bg-yellow{
    background-color: #F7DF1E;
}

/* 폰트사이즈 모음 */
.font-big{
    font-size: 8vw;
    font-weight: bolder;
    line-height: 90%;
}

.font-mid{
    font-size: 3vw;
    font-weight: bold;
    line-height: 100%;
}

.font-sml{
    font-size: 1.3vw;
    font-weight: lighter;
}