@font-face {
    font-family: 'SeoulNotice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

body, html{
    width: 80%;
    height: 80%;
    background-color: #c9c9c9;
    font-family: 'SeoulNotice';
    margin: 1% auto;
}

div{
    margin: 2% 1%;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 3%;
    width: auto;
    height: 120%;
}

.profile-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img img{
    width: 100%;
    height: 100%;
    overflow: cover;
}

.text-wrap{
    display: flex;
    flex-direction: column;
    justify-self: start;
    text-align: left;

}

.project-area{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
    
    /* padding: 2% 1%; */
    margin: auto;
    /* border-radius: 50px; */
}

.small-list-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.small-title{
    font-size: 130%;
    font-weight: bold;
}

/* color or style */
.shadow{
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.505);
}

.shadow:hover{
    box-shadow: inset 0 0 15px rgba(40, 40, 40, 0.505);
}

.box-radius{
    border-radius: 30px;
}

.bg-white{
    background-color: #F8F8F8;
}